# 1- Base du Python

## a) types

### Creez une variable 'string' contenant "toto" et une variable 'number' contenant le nombre 10

In [1]:
string, number = "toto", 10

### Convertissez 'string' en unicode et 'number' en float

In [3]:
string, number = str(string), float(number)

### Inversez le contenu des variables 'string' et 'number' (en 1 ligne)

In [4]:
string, number = number, string

## b) Listes

### Créez une liste A contenant les entiers suivants: 1, 3, 2, 7, 4, 10, 46

In [5]:
A = [1,3,2,7,4,10,46]


### Affichez les 3 premiers éléments de la liste A - en une ligne de code

In [8]:
print (A[:3])

[1, 3, 2]

### Créez une liste B qui contient seulement les 3e, 4e et 5e éléments de A . Votre ligne de code ne devrait contenir que 8 caractères (sans compter les espaces) - Vérifiez bien votre résultat!

In [9]:
B = A[2:5]

### Concaténez les listes A et B pour former la liste C

In [10]:
C = A + B

### A l'aide de la function zip associez les valeurs de A et B dans la variable D

In [11]:
D = zip(A, B)

### Ajoutez le nombre 5 à la liste A

In [12]:
A += [5]

### Ajoutez un élément nul à la liste C

In [13]:
C += [None]

### Écrivez une fonction qui prend comme arguments une liste 'lst' et un entier 'n' et retourne le résultat de n concaténations de 'lst' avec elle-même (ex: lst=[1,2,3], n=2 --> [1,2,3,1,2,3])

In [15]:
def func(lst, n):
	new = []
	while n > 0:
		new += lst
		n -= 1
	return new

### Vous voulez rendre le paramètre 'n' optionnel et fixer sa valeur à 2 par défaut. Comment faites-vous?

In [16]:
def func(lst, n=2):
	new = []
	while n > 0:
		new += lst
		n -= 1
	return new

### Avec une boucle 'while', imprimez chaque élément de la liste C jusqu'à l'élément nul

In [20]:
i = 0
while C[i]:
	print (C[i])
	i += 1

1
3
2
7
4
10
46
2
7
4

### Calculez, avec une boucle 'for', le nombre d'entiers pairs présents dans la liste A

In [24]:
n = 0
for el in A:
    if isinstance(el, int) and el % 2 == 0:
        n += 1

### Réécrivez l'expression suivante avec une boucle 'for' sur plusieurs lignes

In [23]:
C = [element for element in A if element %2 == 0]

In [25]:
C = []
for elem in A:
    if elem % 2 == 0:
        C += [elem]

### Creez une fonction qui prend une string en entree et retourne la premiere lettre unique de la string

In [21]:
# def func3(str):
# 	for char in str:
# 		if str.count(char) == 1:
# 			return char

# def first_uniq(str):
#     for i, v in enumerate(str):
#         print (i)
#         if v not in str[i + 1:]:
#             return v
            
# print (first_uniq("coukcopu"))

def first_uniq(str):
    dico = dict.fromkeys(list(str), 0)
    for c in str:
        dico[c] = dico[c] + 1
    print(dico)
    for c in str:
        if dico[c] == 1:
            return c
        
print(first_uniq("coukcou"))

{'c': 0, 'o': 0, 'u': 0, 'k': 0}
k

## c) Dictionnaire

### Creez un dictionnaire 'voiture' avec les cles et les valeurs suivantes:
| cle  | valeur |
|---|---|
| brand  | Ford  |
| model  | Mustang |
| year  | 1964 |

In [27]:
voiture = {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

### Accedez a la valeur de "year"

In [28]:
voiture['year']

1964

### Affichez a l'aide d'une boucle, l'ensemble des cles du dictionnaires

In [29]:
for k in voiture.keys():
    print (k)

brand
model
year

### Affichez a l'aide d'une boucle, l'ensemble des valeurs du dictionnaires

In [30]:
for v in voiture.values():
    print (v)

Ford
Mustang
1964

### Affichez a l'aide d'une boucle, l'ensemble des items du dictionnaires. Affichez egalement l'indice de chaque iteration de boucle (fonction enumerate)

In [33]:
for k, v in enumerate(voiture.items()):
    print (k , " => ", v[0], " : ", v[1])

0  =>  brand  :  Ford
1  =>  model  :  Mustang
2  =>  year  :  1964

# A l'aide d'une dictionnaire comprehension creez un dictionnaire avec les cles et valeurs suivantes :
| cle  | valeur |
|---|---|
| cle_1  | dictionnaire 'voiture' |
| cle_2  | dictionnaire 'voiture' |
| cle_3  | dictionnaire 'voiture' |

#### exemple de dictionnaire comprehension :
```
dict = {cle:valeur for cle, valeur in list_1, list_2}
```

In [51]:
dict = {"cle_" + str(i + 1):voiture for i, v in enumerate(voiture)}
print (dict)

{'cle_1': {'brand': 'HAHA', 'model': 'Mustang', 'year': 1964}, 'cle_2': {'brand': 'HAHA', 'model': 'Mustang', 'year': 1964}, 'cle_3': {'brand': 'HAHA', 'model': 'Mustang', 'year': 1964}}

## d) Fonctions

### Creez une fonction fibonacci (suite de fibonacci: 0 1 1 2 3 5 8 13 ...)

In [89]:
def fibonac(n):
    if n < 1:
        return (0)
    else:
        n0 = 0
        n1 = 1
        i = 0
        while i < n:
            n0, n1 = n1, n0 + n1
            i += 1
        return (n1)

### Executez votre fonction (fibonacci(100) doit etre execute en moins de 1 seconde)

In [91]:
print (fibonac(100))

573147844013817084101

### Creez une fonction fibonacci en utilisant un generateur

In [97]:
def fibonac4(n):
    if n < 1:
        yield 0
    else:
        n0 = 0
        n1 = 1
        i = 0
        while i < n:
            n0, n1 = n1, n0 + n1
            yield n1
            i += 1

In [98]:
print (list(fibonac4(100)))

[1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025, 20365011074, 32951280099, 53316291173, 86267571272, 139583862445, 225851433717, 365435296162, 591286729879, 956722026041, 1548008755920, 2504730781961, 4052739537881, 6557470319842, 10610209857723, 17167680177565, 27777890035288, 44945570212853, 72723460248141, 117669030460994, 190392490709135, 308061521170129, 498454011879264, 806515533049393, 1304969544928657, 2111485077978050, 3416454622906707, 5527939700884757, 8944394323791464, 14472334024676221, 23416728348467685, 37889062373143906, 61305790721611591, 99194853094755497, 160500643816367088, 259695496911122585, 420196140727489673, 679891637638612258, 1100087778366101931, 1779979416004714189, 2880067194370816120, 4660046610375530309, 7540113804746346429, 12200160415121876738, 19740274219868223167, 31940434634990099905, 51680708854858323072, 83621143489848422977, 135301852344706746049, 218922995834555169026, 354224848179261915075, 573147844013817084101]